In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("house_price_increase.csv")
df.head()

  house_id  price_increase_pct
0    NJ001                12.7
1    NJ002                11.3
2    NJ003                11.9
3    NJ004                13.2
4    NJ005                12.8

In [4]:
df.shape

(100, 2)

In [5]:
population_mean = 10
population_std_dev = 4

In [6]:
sample_mean = df.price_increase_pct.mean()
sample_mean

np.float64(11.0)

In [7]:
standard_error = population_std_dev / np.sqrt(df.shape[0])
standard_error

np.float64(0.4)

In [8]:
z_score = (sample_mean - population_mean)/ standard_error
z_score

np.float64(2.5)

In [9]:
alpha = 0.05

In [10]:
from scipy import stats

z_critical = stats.norm.ppf(1-alpha)
z_critical

np.float64(1.6448536269514722)

In [11]:
z_score , z_critical

(np.float64(2.5), np.float64(1.6448536269514722))

Since z_score > z_critical, we will reject the NULL hypothesis. This means the alternate hypothesis becomes true which means the inflation is indeed higher than 10%